body {
  background-image: url("https://wallpapercave.com/wp/wp5134484.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
h1 {
  font-family: Ink Free;
  color: #F2E3D5;
  text-align: center;
  text-shadow: 2px 2px 5px #008F8C;
  text-decoration: underline overline;
  text-underline-offset: 10px
}
h3{
  font-family: KaiTi;
  color: #D8FFDB;
  text-align: center;
  text-shadow: 1px 1px 3px #023535;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
h2{
  text-align: center;
  color:black;
  text-shadow: 2px 2px #D8FFDB;
  padding:10px;
}
.button{
  background-color:#012030;
  border: 2px solid #DAFDBA;
  border-radius: 12px;
  color:#DAFDBA;
  outline: none;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  transition-duration: 0.4s;
}
.button:hover{
  background-color: #3CA6A6;
  color: black;
  box-shadow: 0 0 20px rgba(0,0,0,5)
}
